
<div class="location_block">
   <h4>Location</h4>
   <p><strong>Country:</strong>{{ data.location.country }}</p>
   <p><strong>City: </strong>{{ data.location.city }}</p>
   <p><strong>Timezone: </strong>{{ data.location.timezone }}</p>
   <p><strong>Current Time: </strong>{{ data.time }}</p>
</div>