
<div class="location_block">
   <h4>Location</h4>
   <p><strong>Country:</strong> <span id="country">{{ data.location.country }}</span></p>
   <p><strong>City: </strong><span id="city">{{ data.location.city }}</span></p>
   <p><strong>Timezone: </strong><span id="timezone">{{ data.location.timezone }}</span></p>
   <p><strong>Current Time: </strong><span id="time">{{ data.time }}</span></p>
</div>